@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Seaweed+Script&display=swap');

img{
outline:none;
width: 150px;
height: 150px;
}

head{
  color: #080630;
}


.button {
  padding: 100px, 100px,100px,100px;
  transition: transform .2s; /* Animation */
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-color: #080630;
  border-radius: 10px;
  color: #cc1423;
  border: none;
  font-size: 30px;
  outline: none;
  font-weight: bold;
  text-shadow: 0 0 10px #410000, 0 0 20px #410000, 0 0 30px #410000;
  font-family: 'Seaweed Script', cursive;
}
.home{
  padding: 100px, 100px,100px,100px;
  transition: transform .2s; /* Animation */
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-color: #080630;
  border-radius: 10px;
  color: #cc1423;
  border: none;
  font-size: 40px;
  outline: none;
  font-weight: bold;
  text-shadow: 0 0 10px #410000, 0 0 20px #410000, 0 0 30px #410000;
  font-family:  'Seaweed Script', cursive;
}

.home:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.button:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #080630;
  color: #cc1423;
  padding: 0px;
  font-family: 'Seaweed Script', cursive;
  text-shadow: 0 0 10px #410000, 0 0 20px #410000, 0 0 30px #410000;
  font-size: 40px
}
/* Style the left content */
.left {
  display: flex;
  flex: 1; /* Takes up available space */
  flex-direction: row;
  gap: 30px;
  align-items: center;
}



/* Style the right buttons */
.right {
display: flex;
gap: 30px; /* Adjust the spacing between buttons */

}

.rev{
  background-image: url('images/rev.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  padding: 20px 40px;
  transition: transform 0.2s ease;
  width: 100px;
  height: 200px;
}

/*Use id="hovers" for all items that you want to have change to 1.51 size when hovered */
#hovers:hover{
  transform: scale(1.51)
}

/* .Left_3{
  background-image: url('RevLogo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  outline:none;
  padding: 20px 40px;
  transition: transform 0.2s ease;
  width: 200px;
  height: 200px;
} */

.item_middle{
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Seaweed Script', cursive;
  color: white
}

body {
  height: 1250px;
  background-color: #00000d;
  background-image: url(RevLogo.png);
  background-size: auto;
  background-position:bottom;
  background-repeat: no-repeat;
  height: 1500px;

}

h2 {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 50px;
  /*Change grid-gap to alter size between columns*/
  grid-gap:200px;
  
}

.item_left, .item_right{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Abril Fatface', sans-serif;
  color: white;
  font-weight: strong;
  border: none;
  outline:none;
}

#row_1,#row_2,#row_3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

#header1{
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  text-align: left;
  margin: -50px;
  margin-top: -600px;
  color: white;
  font-size: 100px;
}
