body {
    margin: 0; /* Remove margin from the body element */
    padding: 0; /* Remove padding from the body element */
}

.maroon-bar {
    display: flex;
    flex-direction: row;
    background-color: black; /* Set the background color to maroon */
    color: white; /* Set the text color to white */
    padding: 30px; /* Add some padding to the top and bottom of the bar */
    text-align: center; /* Center-align the text within the bar */
    font-family: 'Seaweed Script', cursive;
    align-items: center;
    justify-content: space-between;
}

.title{
    font-size: 70px;
    color: #500000;
    font-family: 'Seaweed Script', cursive;

    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 82px rgb(145, 17, 17),
        0 0 92px rgb(145, 17, 17),
        0 0 102px rgb(145, 17, 17);
}

.home{
    color:white;
    background-color: beige;
    border-radius: 10px;
    font-family: 'Seaweed Script', sans-serif;
    font-size: 25px;
    padding: 10px;
}

#map {
    height: 400px;
    width: 100%;
    margin-top: 35px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#update-button {
    font-family: 'Poppins', sans-serif;
    background-color: #500000;
    color: white;
    border: 1px solid gray;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    margin-top: 10px;
   
}

#update-button:hover {
    background-color: white;
    color : #500000;
}

label {
    font-family : 'Poppins', sans-serif;
    font-weight: 700;
    font-size: larger;
}

location-input {
    text-align: center;
}

a{
    text-decoration: none;
}

a:visited{
    color: maroon;
}

