body {
    margin: 0; /* Remove margin from the body element */
    padding: 0; /* Remove padding from the body element */
}

.maroon-bar {
    background-color: #500000; /* Set the background color to maroon */
    color: white; /* Set the text color to white */
    padding: 50px; /* Add some padding to the top and bottom of the bar */
    text-align: left; /* Center-align the text within the bar */
    font-family: 'Seaweed Script', cursive;
    font-size: 80px; /* Set the font size */
}

#home-button {
    margin : 0
}

#map {
    height: 500px;
    width: 100%;
    margin-top: 35px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#update-button {
    font-family: 'Poppins', sans-serif;
    background-color: #500000;
    color: white;
    border: 1px solid gray;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    margin-top: 10px;
   
}

#update-button:hover {
    background-color: white;
    color : #500000;
}

label {
    font-family : 'Poppins', sans-serif;
    font-weight: 700;
    font-size: larger;
}

location-input {
    text-align: center;
}

